.top_bar{
    background-color: teal;
    color: white;
}

.heading{
    background-color: lightblue;
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    // text-align: center;
}

.content {
    background-color: lightgoldenrodyellow
}